 



body{background-color: rgba(30%,30%,30%,0.6);}
#nv1{background-color: rgba(0%,50%,80%,1); position: absolute;height: 13600px;width:800px;}


#e5{background-color: rgba(0%,0%,0%,1);position: absolute;height: 30px;width:250px;left:5px; 
top: 20px;color:white;font-size:20px;font-family:Arial;content: justify; text-align: center;
display:inline-block; border-radius:5px; border: 1px solid rgba(100%,0%,50%,1); }

#e4{background-color: rgba(0%,0%,0%,1);position: absolute;height: 30px;width:250px;left:260px; 
top: 20px;color:white;font-size:20px;font-family:Arial;content: justify; text-align: center;
display:inline-block; border-radius:5px; border: 1px solid rgba(100%,0%,50%,1);}

#e3{background-color: rgba(0%,0%,0%,1);position: absolute;height: 30px;width:250px;left:515px; 
top: 20px;color:white;font-size:20px;font-family:Arial;content: justify; text-align: center;
display:inline-block; border-radius:5px; border: 1px solid rgba(100%,0%,50%,1);}

#e2{background-color: rgba(0%,0%,0%,1);position: absolute;height: 30px;width:250px;left:5px; 
top: 53px;color:white;font-size:20px;font-family:Arial;content: justify; text-align: center;
display:inline-block; border-radius:5px; border: 1px solid rgba(100%,0%,50%,1);}

#e1{background-color: rgba(0%,0%,0%,1);position: absolute;height: 30px;width:250px;left:260px; 
top: 53px;color:white;font-size:20px;font-family:Arial;content: justify; text-align: center;
display:inline-block; border-radius:5px; border: 1px solid rgba(100%,0%,50%,1);}

#ter{background-color: rgba(0%,0%,0%,1);position: absolute;height: 30px;width:250px;left:515px; 
top: 53px;color:white;font-size:20px;font-family:Arial;content: justify; text-align: center;
display:inline-block; border-radius:5px; border: 1px solid rgba(100%,0%,50%,1);}

#bp1{background-color: rgba(0%,0%,0%,1);position: absolute;height: 30px;width:250px;left:5px; 
top: 86px;color:white;font-size:20px;font-family:Arial;content: justify; text-align: center;
display:inline-block; border-radius:5px; border: 1px solid rgba(100%,0%,50%,1);}

#bp2{background-color: rgba(0%,0%,0%,1);position: absolute;height: 30px;width:250px;left:260px; 
top: 86px;color:white;font-size:20px;font-family:Arial;content: justify; text-align: center;
display:inline-block; border-radius:5px; border: 1px solid rgba(100%,0%,50%,1);}

#bp3{background-color: rgba(0%,0%,0%,1);position: absolute;height: 30px;width:250px;left:515px; 
top: 86px;color:white;font-size:20px;font-family:Arial;content: justify; text-align: center;
display:inline-block; border-radius:5px; border: 1px solid rgba(100%,0%,50%,1);}

#bp4{background-color: rgba(0%,0%,0%,1);position: absolute;height: 30px;width:250px;left:5px; 
top: 119px;color:white;font-size:20px;font-family:Arial;content: justify; text-align: center;
display:inline-block; border-radius:5px; border: 1px solid rgba(100%,0%,50%,1);}

#bp5{background-color: rgba(0%,0%,0%,1);position: absolute;height: 30px;width:250px;left:260px; 
top: 119px;color:white;font-size:20px;font-family:Arial;content: justify; text-align: center;
display:inline-block; border-radius:5px; border: 1px solid rgba(100%,0%,50%,1);}

#e6{background-color: rgba(0%,0%,0%,1);position: absolute;height: 30px;width:250px;left:515px; 
top: 119px;color:white;font-size:20px;font-family:Arial;content: justify; text-align: center;
display:inline-block; border-radius:5px; border: 1px solid rgba(100%,0%,50%,1);}

#tabl{background-color: rgba(0%,80%,40%,1);position: absolute;height: 2582px;width:800px;left:0px; 
top: 230px; border-radius: 5px; border: 1px solid rgba(0%,0%,0%,1);}

#sv1{background-color: rgba(0%,0%,0%,1);position: absolute;height: 500px;width:800px;left:0px; 
top: 180px; }


#sv2{background-color: rgba(0%,0%,0%,1);position: absolute;height: 500px;width:800px;left:0px; 
top: 780px; }


#sv3{background-color: rgba(0%,0%,0%,1);position: absolute;height: 500px;width:800px;left:0px; 
top: 1380px; }


#sv4{background-color: rgba(0%,0%,0%,1);position: absolute;height: 500px;width:800px;left:0px; 
top: 1980px; }

#exo{background-color: rgba(0%,100%,10%,1); display: inline-block;content: justify;text-align:center;
position: absolute;height: 50px;width:600px;left:100px;font-size:35px; border-radius: 10px;
top: 10px; }

#start{background-color: rgba(0%,100%,10%,1); display: inline-block;content:justify; text-align: center;
position: absolute;height: 50px;width:600px;left:100px; font-size: 35px; border-radius: 10px;
top: 80px; }

#suite1{background-color: rgba(0%,100%,10%,1); display: inline-block;content:justify; text-align: center;
position: absolute;height: 50px;width:600px;left:100px; font-size: 35px; border-radius: 10px;
top: 670px; }

#suite2{background-color: rgba(0%,100%,10%,1); display: inline-block;content:justify; text-align: center;
position: absolute;height: 50px;width:600px;left:100px; font-size: 35px; border-radius: 10px;
top: 1280px; }


#suite3{background-color: rgba(0%,100%,10%,1); display: inline-block;content:justify; text-align: center;
position: absolute;height: 50px;width:600px;left:100px; font-size: 35px; border-radius: 10px;
top: 1880px; }


#exer{background-color: rgba(60%,60%,80%,1); 
position: absolute;height: 10260px;width:800px; border-radius: 5px;
top: 2800px; }

#exerc{background-color: rgba(60%,60%,80%,1); left: 100px; text-align: center;
position: absolute;height: 60px;width:600px; border-radius: 5px; border: 2px solid blue;
top: 23px; }

#pexer{color: rgba(100%,0%,0%,1);
position: absolute;left: 250px;
top: 10px; }
#nxtphs{color: rgba(100%,100%,100%,1);background-color: rgba(0%,0%,70%,1);
position: absolute;left: 180px;
top: 2470px;z-index: 1; }
#ex1{background-color: rgba(30%,100%,0%,1);color: black;content:justify;text-align: center;
position: absolute;left: 10px;display: inline-block;height:35px;width:70px;font-size: 25px;
top: 100px;}

#ex2{background-color: rgba(30%,100%,0%,1);color: black;content:justify;text-align: center;
position: absolute;left: 90px;display: inline-block;height:35px;width:70px;font-size: 25px;
top: 100px;}

#ex3{background-color: rgba(30%,100%,0%,1);color: black;content:justify;text-align: center;
position: absolute;left: 170px;display: inline-block;height:35px;width:70px;font-size: 25px;
top: 100px;}

#ex4{background-color: rgba(30%,100%,0%,1);color: black;content:justify;text-align: center;
position: absolute;left: 250px;display: inline-block;height:35px;width:70px;font-size: 25px;
top: 100px;}

#ex5{background-color: rgba(30%,100%,0%,1);color: black;content:justify;text-align: center;
position: absolute;left: 330px;display: inline-block;height:35px;width:70px;font-size: 25px;
top: 100px;}

#ex6{background-color: rgba(30%,100%,0%,1);color: black;content:justify;text-align: center;
position: absolute;left: 410px;display: inline-block;height:35px;width:70px;font-size: 25px;
top: 100px;}



#ex7{background-color: rgba(30%,100%,0%,1);color: black;content:justify;text-align: center;
position: absolute;left: 490px;display: inline-block;height:35px;width:70px;font-size: 25px;
top: 100px;}

#suitexo{background-color: rgba(100%,40%,40%,1);color: blue;content:justify;text-align: center;
position: absolute;left: 250px;display: inline-block;height:50px;width:350px;font-size: 30px;
top: 10150px;}


#ex8{background-color: rgba(30%,100%,0%,1);color: black;content:justify;text-align: center;
position: absolute;left: 570px;display: inline-block;height:35px;width:70px;font-size: 25px;
top: 100px;}

#ex9{background-color: rgba(30%,100%,0%,1);color: black;content:justify;text-align: center;
position: absolute;left: 650px;display: inline-block;height:35px;width:70px;font-size: 25px;
top: 100px;}

#ex10{background-color: rgba(30%,100%,0%,1);color: black;content:justify;text-align: center;
position: absolute;left: 730px;display: inline-block;height:35px;width:70px;font-size: 25px;
top: 100px;}

#ex11{background-color: rgba(30%,100%,0%,1);color: black;content:justify;text-align: center;
position: absolute;left: 10px;display: inline-block;height:35px;width:70px;font-size: 25px;
top: 150px;}

#ex12{background-color: rgba(30%,100%,0%,1);color: black;content:justify;text-align: center;
position: absolute;left: 90px;display: inline-block;height:35px;width:70px;font-size: 25px;
top: 150px;}


#ex13{background-color: rgba(30%,100%,0%,1);color: black;content:justify;text-align: center;
position: absolute;left: 170px;display: inline-block;height:35px;width:70px;font-size: 25px;
top: 150px;}

#ex14{background-color: rgba(30%,100%,0%,1);color: black;content:justify;text-align: center;
position: absolute;left: 250px;display: inline-block;height:35px;width:70px;font-size: 25px;
top: 150px;}

#extb1{background-color: rgba(0%,0%,0%,1);position: absolute;height: 600px;width:800px;left:0px; 
top: 450px; }


#extb2{background-color: rgba(0%,0%,0%,1);position: absolute;height: 600px;width:800px;left:0px; 
top: 1150px; }


#extb3{background-color: rgba(0%,0%,0%,1);position: absolute;height: 600px;width:800px;left:0px; 
top: 1850px; }


#extb4{background-color: rgba(0%,0%,0%,1);position: absolute;height: 600px;width:800px;left:0px; 
top: 2550px; }


#extb5{background-color: rgba(0%,0%,0%,1);position: absolute;height: 600px;width:800px;left:0px; 
top: 3250px; }


#extb6{background-color: rgba(0%,0%,0%,1);position: absolute;height: 600px;width:800px;left:0px; 
top: 3950px; }



#extb7{background-color: rgba(0%,0%,0%,1);position: absolute;height: 600px;width:800px;left:0px; 
top: 4650px; }


#extb8{background-color: rgba(0%,0%,0%,1);position: absolute;height: 600px;width:800px;left:0px; 
top: 5350px; }


#extb9{background-color: rgba(0%,0%,0%,1);position: absolute;height: 600px;width:800px;left:0px; 
top: 6050px; }


#extb10{background-color: rgba(0%,0%,0%,1);position: absolute;height: 600px;width:800px;left:0px; 
top: 6750px; }


#extb11{background-color: rgba(0%,0%,0%,1);position: absolute;height: 600px;width:800px;left:0px; 
top: 7450px; }


#extb12{background-color: rgba(0%,0%,0%,1);position: absolute;height: 600px;width:800px;left:0px; 
top: 8150px; }


#extb13{background-color: rgba(0%,0%,0%,1);position: absolute;height: 600px;width:800px;left:0px; 
top: 8850px; }

#extb14{background-color: rgba(0%,0%,0%,1);position: absolute;height: 600px;width:800px;left:0px; 
top: 9550px; }


#titrex1{background-color: rgba(30%,100%,0%,1);color: black;content:justify;text-align: center;
position: absolute;left: 300px;display: inline-block;height:40px;width:170px;font-size: 25px;
top: 350px;}

#titrex2{background-color: rgba(30%,100%,0%,1);color: black;content:justify;text-align: center;
position: absolute;left: 300px;display: inline-block;height:40px;width:170px;font-size: 25px;
top: 1050px;}

#titrex3{background-color: rgba(30%,100%,0%,1);color: black;content:justify;text-align: center;
position: absolute;left: 300px;display: inline-block;height:40px;width:170px;font-size: 25px;
top: 1750px;}

#titrex4{background-color: rgba(30%,100%,0%,1);color: black;content:justify;text-align: center;
position: absolute;left: 300px;display: inline-block;height:40px;width:170px;font-size: 25px;
top: 2450px;}

#titrex5{background-color: rgba(30%,100%,0%,1);color: black;content:justify;text-align: center;
position: absolute;left: 300px;display: inline-block;height:40px;width:170px;font-size: 25px;
top: 3150px;}

#titrex6{background-color: rgba(30%,100%,0%,1);color: black;content:justify;text-align: center;
position: absolute;left: 300px;display: inline-block;height:40px;width:170px;font-size: 25px;
top: 3850px;}



#titrex7{background-color: rgba(30%,100%,0%,1);color: black;content:justify;text-align: center;
position: absolute;left: 300px;display: inline-block;height:40px;width:170px;font-size: 25px;
top: 4550px;}

#titrex8{background-color: rgba(30%,100%,0%,1);color: black;content:justify;text-align: center;
position: absolute;left: 300px;display: inline-block;height:40px;width:170px;font-size: 25px;
top: 5250px;}

#titrex9{background-color: rgba(30%,100%,0%,1);color: black;content:justify;text-align: center;
position: absolute;left: 300px;display: inline-block;height:40px;width:170px;font-size: 25px;
top: 5950px;}

#titrex10{background-color: rgba(30%,100%,0%,1);color: black;content:justify;text-align: center;
position: absolute;left: 300px;display: inline-block;height:40px;width:170px;font-size: 25px;
top: 6650px;}

#titrex11{background-color: rgba(30%,100%,0%,1);color: black;content:justify;text-align: center;
position: absolute;left: 300px;display: inline-block;height:40px;width:170px;font-size: 25px;
top: 7350px;}

#titrex12{background-color: rgba(30%,100%,0%,1);color: black;content:justify;text-align: center;
position: absolute;left: 300px;display: inline-block;height:40px;width:170px;font-size: 25px;
top: 8050px;}


#titrex13{background-color: rgba(30%,100%,0%,1);color: black;content:justify;text-align: center;
position: absolute;left: 300px;display: inline-block;height:40px;width:170px;font-size: 25px;
top: 8750px;}

#titrex14{background-color: rgba(30%,100%,0%,1);color: black;content:justify;text-align: center;
position: absolute;left: 300px;display: inline-block;height:40px;width:170px;font-size: 25px;
top: 9450px;}


#prop11{background-color: rgba(0%,60%,100%,1);display: block;
position: absolute;right: 0px;height:100px;width:250px;
top: 550px; z-index: 1;}

#prop12{background-color: rgba(0%,60%,100%,1);display: block;
position: absolute;right: 0px;height:100px;width:250px;
top: 720px; z-index: 1;}

#prop13{background-color: rgba(0%,60%,100%,1);display: block;
position: absolute;right: 0px;height:100px;width:250px;
top: 890px; z-index: 1;}

#svpro11{background-color: rgba(0%,60%,100%,1);display: block;
position: absolute;left: 0px;height:100px;width:250px;
top: 0px;}

#svpro12{background-color: rgba(0%,60%,100%,1);display: block;
position: absolute;left: 0px;height:100px;width:250px;
top:0px;}

#svpro13{background-color: rgba(0%,60%,100%,1);display: block;
position: absolute;left: 0px;height:100px;width:250px;
top: 0px;}




#prop21{background-color: rgba(0%,60%,100%,1);display: block;
position: absolute;right: 0px;height:100px;width:250px;
top: 1250px;z-index: 1;}

#prop22{background-color: rgba(0%,60%,100%,1);display: block;
position: absolute;right: 0px;height:100px;width:250px;
top: 1420px;z-index: 1;}

#prop23{background-color: rgba(0%,60%,100%,1);display: block;
position: absolute;right: 0px;height:100px;width:250px;
top: 1590px; z-index: 1;}

#svpro21{background-color: rgba(0%,60%,100%,1);display: block;
position: absolute;left: 0px;height:100px;width:250px;
top: 0px;}

#svpro22{background-color: rgba(0%,60%,100%,1);display: block;
position: absolute;left: 0px;height:100px;width:250px;
top:0px;}

#svpro23{background-color: rgba(0%,60%,100%,1);display: block;
position: absolute;left: 0px;height:100px;width:250px;
top: 0px;}


#prop31{background-color: rgba(0%,60%,100%,1);display: block;
position: absolute;right: 0px;height:100px;width:250px;
top: 1950px;z-index: 1;}

#prop32{background-color: rgba(0%,60%,100%,1);display: block;
position: absolute;right: 0px;height:100px;width:250px;
top: 2120px;z-index: 1;}

#prop33{background-color: rgba(0%,60%,100%,1);display: block;
position: absolute;right: 0px;height:100px;width:250px;
top: 2290px;z-index: 1;}

#svpro31{background-color: rgba(0%,60%,100%,1);display: block;
position: absolute;left: 0px;height:100px;width:250px;
top: 0px;}

#svpro32{background-color: rgba(0%,60%,100%,1);display: block;
position: absolute;left: 0px;height:100px;width:250px;
top:0px;}

#svpro33{background-color: rgba(0%,60%,100%,1);display: block;
position: absolute;left: 0px;height:100px;width:250px;
top: 0px;}


#prop41{background-color: rgba(0%,60%,100%,1);display: block;
position: absolute;right: 0px;height:100px;width:250px;
top: 2650px;z-index: 1;}

#prop42{background-color: rgba(0%,60%,100%,1);display: block;
position: absolute;right: 0px;height:100px;width:250px;
top: 2820px;z-index: 1;}

#prop43{background-color: rgba(0%,60%,100%,1);display: block;
position: absolute;right: 0px;height:100px;width:250px;
top: 2990px;z-index: 1;}

#svpro41{background-color: rgba(0%,60%,100%,1);display: block;
position: absolute;left: 0px;height:100px;width:250px;
top: 0px;}

#svpro42{background-color: rgba(0%,60%,100%,1);display: block;
position: absolute;left: 0px;height:100px;width:250px;
top:0px;}

#svpro43{background-color: rgba(0%,60%,100%,1);display: block;
position: absolute;left: 0px;height:100px;width:250px;
top: 0px;}


#prop51{background-color: rgba(0%,60%,100%,1);display: block;
position: absolute;right: 0px;height:100px;width:250px;
top: 3350px;z-index: 1;}

#prop52{background-color: rgba(0%,60%,100%,1);display: block;
position: absolute;right: 0px;height:100px;width:250px;
top: 3520px;z-index: 1;}

#prop53{background-color: rgba(0%,60%,100%,1);display: block;
position: absolute;right: 0px;height:100px;width:250px;
top: 3690px;z-index: 1;}

#svpro51{background-color: rgba(0%,60%,100%,1);display: block;
position: absolute;left: 0px;height:100px;width:250px;
top: 0px;}

#svpro52{background-color: rgba(0%,60%,100%,1);display: block;
position: absolute;left: 0px;height:100px;width:250px;
top:0px;}

#svpro53{background-color: rgba(0%,60%,100%,1);display: block;
position: absolute;left: 0px;height:100px;width:250px;
top: 0px;}


#prop61{background-color: rgba(0%,60%,100%,1);display: block;
position: absolute;right: 0px;height:100px;width:250px;
top: 4050px;z-index: 1;}

#prop62{background-color: rgba(0%,60%,100%,1);display: block;
position: absolute;right: 0px;height:100px;width:250px;
top: 4220px;z-index: 1;}

#prop63{background-color: rgba(0%,60%,100%,1);display: block;
position: absolute;right: 0px;height:100px;width:250px;
top: 4390px;z-index: 1;}

#svpro61{background-color: rgba(0%,60%,100%,1);display: block;
position: absolute;left: 0px;height:100px;width:250px;
top: 0px;}

#svpro62{background-color: rgba(0%,60%,100%,1);display: block;
position: absolute;left: 0px;height:100px;width:250px;
top:0px;}

#svpro63{background-color: rgba(0%,60%,100%,1);display: block;
position: absolute;left: 0px;height:100px;width:250px;
top: 0px;}


#prop71{background-color: rgba(0%,60%,100%,1);display: block;
position: absolute;right: 0px;height:100px;width:250px;
top: 4750px;z-index: 1;}

#prop72{background-color: rgba(0%,60%,100%,1);display: block;
position: absolute;right: 0px;height:100px;width:250px;
top: 4920px;z-index: 1;}

#prop73{background-color: rgba(0%,60%,100%,1);display: block;
position: absolute;right: 0px;height:100px;width:250px;
top: 5090px;z-index: 1;}

#svpro71{background-color: rgba(0%,60%,100%,1);display: block;
position: absolute;left: 0px;height:100px;width:250px;
top: 0px;}

#svpro72{background-color: rgba(0%,60%,100%,1);display: block;
position: absolute;left: 0px;height:100px;width:250px;
top:0px;}

#svpro73{background-color: rgba(0%,60%,100%,1);display: block;
position: absolute;left: 0px;height:100px;width:250px;
top: 0px;}


#prop81{background-color: rgba(0%,60%,100%,1);display: block;
position: absolute;right: 0px;height:100px;width:250px;
top: 5450px;z-index: 1;}

#prop82{background-color: rgba(0%,60%,100%,1);display: block;
position: absolute;right: 0px;height:100px;width:250px;
top: 5620px;z-index: 1;}

#prop83{background-color: rgba(0%,60%,100%,1);display: block;
position: absolute;right: 0px;height:100px;width:250px;
top: 5790px;z-index: 1;}

#svpro81{background-color: rgba(0%,60%,100%,1);display: block;
position: absolute;left: 0px;height:100px;width:250px;
top: 0px;}

#svpro82{background-color: rgba(0%,60%,100%,1);display: block;
position: absolute;left: 0px;height:100px;width:250px;
top:0px;}

#svpro83{background-color: rgba(0%,60%,100%,1);display: block;
position: absolute;left: 0px;height:100px;width:250px;
top: 0px;}


#prop91{background-color: rgba(0%,60%,100%,1);display: block;
position: absolute;right: 0px;height:100px;width:250px;
top: 6150px;z-index: 1;}

#prop92{background-color: rgba(0%,60%,100%,1);display: block;
position: absolute;right: 0px;height:100px;width:250px;
top: 6320px;z-index: 1;}

#prop93{background-color: rgba(0%,60%,100%,1);display: block;
position: absolute;right: 0px;height:100px;width:250px;
top: 6490px;z-index: 1;}

#svpro91{background-color: rgba(0%,60%,100%,1);display: block;
position: absolute;left: 0px;height:100px;width:250px;
top: 0px;}

#svpro92{background-color: rgba(0%,60%,100%,1);display: block;
position: absolute;left: 0px;height:100px;width:250px;
top:0px;}

#svpro93{background-color: rgba(0%,60%,100%,1);display: block;
position: absolute;left: 0px;height:100px;width:250px;
top: 0px;}


#prop101{background-color: rgba(0%,60%,100%,1);display: block;
position: absolute;right: 0px;height:100px;width:250px;
top: 6850px;z-index: 1;}

#prop102{background-color: rgba(0%,60%,100%,1);display: block;
position: absolute;right: 0px;height:100px;width:250px;
top: 7020px;z-index: 1;}

#prop103{background-color: rgba(0%,60%,100%,1);display: block;
position: absolute;right: 0px;height:100px;width:250px;
top: 7190px;z-index: 1;}

#svpro101{background-color: rgba(0%,60%,100%,1);display: block;
position: absolute;left: 0px;height:100px;width:250px;
top: 0px;}

#svpro102{background-color: rgba(0%,60%,100%,1);display: block;
position: absolute;left: 0px;height:100px;width:250px;
top:0px;}

#svpro103{background-color: rgba(0%,60%,100%,1);display: block;
position: absolute;left: 0px;height:100px;width:250px;
top: 0px;}



#prop111{background-color: rgba(0%,60%,100%,1);display: block;
position: absolute;right: 0px;height:100px;width:250px;
top: 7550px;z-index: 1;}

#prop112{background-color: rgba(0%,60%,100%,1);display: block;
position: absolute;right: 0px;height:100px;width:250px;
top: 7720px;z-index: 1;}

#prop113{background-color: rgba(0%,60%,100%,1);display: block;
position: absolute;right: 0px;height:100px;width:250px;
top: 7890px;z-index: 1;}

#svpro111{background-color: rgba(0%,60%,100%,1);display: block;
position: absolute;left: 0px;height:100px;width:250px;
top: 0px;}

#svpro112{background-color: rgba(0%,60%,100%,1);display: block;
position: absolute;left: 0px;height:100px;width:250px;
top:0px;}

#svpro113{background-color: rgba(0%,60%,100%,1);display: block;
position: absolute;left: 0px;height:100px;width:250px;
top: 0px;}


#prop121{background-color: rgba(0%,60%,100%,1);display: block;
position: absolute;right: 0px;height:100px;width:250px;
top: 8250px;z-index: 1;}

#prop122{background-color: rgba(0%,60%,100%,1);display: block;
position: absolute;right: 0px;height:100px;width:250px;
top: 8420px;z-index: 1;}

#prop123{background-color: rgba(0%,60%,100%,1);display: block;
position: absolute;right: 0px;height:100px;width:250px;
top: 8590px;z-index: 1;}

#svpro121{background-color: rgba(0%,60%,100%,1);display: block;
position: absolute;left: 0px;height:100px;width:250px;
top: 0px;}

#svpro122{background-color: rgba(0%,60%,100%,1);display: block;
position: absolute;left: 0px;height:100px;width:250px;
top:0px;}

#svpro123{background-color: rgba(0%,60%,100%,1);display: block;
position: absolute;left: 0px;height:100px;width:250px;
top: 0px;}


#prop131{background-color: rgba(0%,60%,100%,1);display: block;
position: absolute;right: 0px;height:100px;width:250px;
top: 8950px;z-index: 1;}

#prop132{background-color: rgba(0%,60%,100%,1);display: block;
position: absolute;right: 0px;height:100px;width:250px;
top: 9120px;z-index: 1;}

#prop133{background-color: rgba(0%,60%,100%,1);display: block;
position: absolute;right: 0px;height:100px;width:250px;
top: 9290px;z-index: 1;}

#svpro131{background-color: rgba(0%,60%,100%,1);display: block;
position: absolute;left: 0px;height:100px;width:250px;
top: 0px;}

#svpro132{background-color: rgba(0%,60%,100%,1);display: block;
position: absolute;left: 0px;height:100px;width:250px;
top:0px;}

#svpro133{background-color: rgba(0%,60%,100%,1);display: block;
position: absolute;left: 0px;height:100px;width:250px;
top: 0px;}



#prop141{background-color: rgba(0%,60%,100%,1);display: block;
position: absolute;right: 0px;height:100px;width:250px;
top: 9650px;z-index: 1;}

#prop142{background-color: rgba(0%,60%,100%,1);display: block;
position: absolute;right: 0px;height:100px;width:250px;
top: 9820px;z-index: 1;}

#prop143{background-color: rgba(0%,60%,100%,1);display: block;
position: absolute;right: 0px;height:100px;width:250px;
top: 9990px;z-index: 1;}

#svpro141{background-color: rgba(0%,60%,100%,1);display: block;
position: absolute;left: 0px;height:100px;width:250px;
top: 0px;}

#svpro142{background-color: rgba(0%,60%,100%,1);display: block;
position: absolute;left: 0px;height:100px;width:250px;
top:0px;}

#svpro143{background-color: rgba(0%,60%,100%,1);display: block;
position: absolute;left: 0px;height:100px;width:250px;
top: 0px;}


#couvr{background-color: rgba(0%,0%,0%,1);position: absolute;height: 14000px;width:100%;left:5px; 
top: 0px;color:white;font-size:20px;font-family:Arial;content: justify; text-align: center;
 border: 1px solid rgba(100%,0%,50%,1);z-index:3; }

#input1{width:450px;position:  }
#sbmt{background-color:rgba(0%,30%,100%,1);color:white;}

#begin{background-color: rgba(0%,0%,0%,1);position: absolute;height: 14000px;width:100%;left:5px; 
top: 0px;color:white;font-size:20px;font-family:Arial;content: justify; text-align: center;
 border: 1px solid rgba(100%,0%,50%,1); }

#clic{position: absolute; left: 300px
top:40px;color:white;font-size:20px;font-family:Arial;content: justify; text-align: center;
  }





















































































































































































